#video-wrapper:hover .controls {
  transform: translateY(0%);
}

.controls {
  position: absolute;
  bottom: 16px;
  width: 96%;
  height: 44px;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 0 0 16px 16px;
  z-index: 2;
  /* transform: translateY(165%);
  transition: all 0.4s ease-in-out; */
}

.progress-range {
  position: absolute;
  top: -6px;
  border: none;
  background: rgba(0, 0, 0, 0.28);
  height: 6px;
  width: 100%;
}
